@page "/realtime"
@rendermode InteractiveAuto
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
<h3>Realtime</h3>

@code {
	private HubConnection? hubConnection;
	
	protected override async Task OnInitializedAsync()
	{
		hubConnection = new HubConnectionBuilder()
			.WithUrl("https://127.0.0.1:5009/signalr_localization")
			.WithAutomaticReconnect()
			.Build();
		hubConnection.On<string>("ReceiveMessage", (message) =>
		{
			Console.WriteLine($"Received message: {message}");
			StateHasChanged();
		});

		await hubConnection.StartAsync();
	}
}
